@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&family=Inter:wght@300;400;600&display=swap');

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* small helper for background image */
.hero-bg {
  background-size: cover;
  background-position: center;
}
